:root {
  --bs-my: #9b5de5;
  --brand: #ffcb74;
  --brand-second: #99;
  --ser-dark: rgb(0, 0, 0);
  --ser-light: rgb(0, 0, 0);
}
a {
  text-decoration: none !important;
}
body {
  background: #192226 !important;
}
.services {
  .dark {
    h5,
    p {
      color: var(--ser-dark);
    }
  }
  .light {
    h5,
    p {
      color: var(--ser-light);
    }
  }
}
.navbar-inverse {
  background: #222b31 !important;
  border-bottom: 4px solid #ee445f !important;
}
h1,
h2,
h3,
h5,
p {
  color: var(--bs-white);
}

.nav-hight {
  height: 10vh !important;
}

.navbar-brand {
  display: flex !important;
  align-items: center;
}

.service-container {
  margin-top: 1rem !important;
}

.nav {
  margin-bottom: 0px;
  a {
    font: 500 11px Lato;
    letter-spacing: 2px;
    padding: 16px !important;
    color: #a3bfc6 !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
  }
  a:hover {
    color: #fff !important;
  }
  li {
    position: relative;
  }
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-collapse {
  box-shadow: none !important;
  border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
  background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
  background: transparent !important;
}

.icon-bar {
  background: #a3bfc6 !important;
}

.hover {
  display: block;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ee445f !important;
  z-index: 0;
  opacity: 0;
}

// slider

.carousel-inner {
  margin-top: 12vh !important ;
}
@media (max-width: 768px) {
  .nav-hight {
    height: auto !important;
  }
}

//     .navbar-header {
//       margin-right: 0px !important;
//       margin-left: 0px !important;
//     }
//   }
//   .nav {
//     padding-left: 20px !important;
//     a {
//       padding: 12px !important;
//     }
//   }
// }

// @media (max-width: 480px) {
//   .nav {
//     padding-bottom: 20px;
//   }
// }

// @media (max-width: 321px) {
//   .container {
//     height: 0px !important;
//     display: block !important;

//     .navbar-header {
//       margin-right: 0px !important;
//       margin-left: -1px !important;
//     }
//   }
// }
